@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Font Regular */
@font-face {
  font-family: '660Regular';
  font-style: normal;
  font-weight: 400;
  src: local('660Regular'), url('./assets/fonts/PSBasic1200-660Regular.otf') format('opentype');
}

/* Font Light */
@font-face {
  font-family: '640Light';
  font-style: normal;
  font-weight: 400;
  src: local('640Light'), url('./assets/fonts/PSBasic1200-640Light.otf') format('opentype');
}
@font-face {
  font-family: '740Light';
  font-style: normal;
  font-weight: 400;
  src: local('740Light'), url('./assets/fonts/PSBasic1200-740Light.otf') format('opentype');
}

/* Font Light Italic */
@font-face {
  font-family: '644LightItalic';
  font-style: normal;
  font-weight: 400;
  src: local('644LightItalic'),
    url('./assets/fonts/PSBasic1200-644LightItalic.otf') format('opentype');
}
@font-face {
  font-family: '744LightItalic';
  font-style: normal;
  font-weight: 400;
  src: local('744LightItalic'),
    url('./assets/fonts/PSBasic1200-744LightItalic.otf') format('opentype');
}

/* Font Semi Light */
@font-face {
  font-family: '650Semi-Light';
  font-style: normal;
  font-weight: 400;
  src: local('650Semi-Light'),
    url('./assets/fonts/PSBasic1200-650Semi-Light.otf') format('opentype');
}
@font-face {
  font-family: '750Semi-Light';
  font-style: normal;
  font-weight: 400;
  src: local('750Semi-Light'),
    url('./assets/fonts/PSBasic1200-750Semi-Light.otf') format('opentype');
}

/* Font Semi Light Italic */
@font-face {
  font-family: '654Semi-LightItalic';
  font-style: normal;
  font-weight: 400;
  src: local('654Semi-LightItalic'),
    url('./assets/fonts/PSBasic1200-654Semi-LightItalic.otf') format('opentype');
}
@font-face {
  font-family: '754Semi-LightItalic';
  font-style: normal;
  font-weight: 400;
  src: local('754Semi-LightItalic'),
    url('./assets/fonts/PSBasic1200-754Semi-LightItalic.otf') format('opentype');
}

/* Font Regular */
@font-face {
  font-family: '660Regular';
  font-style: normal;
  font-weight: 400;
  src: local('660Regular'), url('./assets/fonts/PSBasic1200-660Regular.otf') format('opentype');
}
@font-face {
  font-family: '760Regular';
  font-style: normal;
  font-weight: 400;
  src: local('760Regular'), url('./assets/fonts/PSBasic1200-760Regular.otf') format('opentype');
}

/* Font Regular Italic */
@font-face {
  font-family: '664RegularItalic';
  font-style: normal;
  font-weight: 400;
  src: local('664RegularItalic'),
    url('./assets/fonts/PSBasic1200-664RegularItalic.otf') format('opentype');
}
@font-face {
  font-family: '764RegularItalic';
  font-style: normal;
  font-weight: 400;
  src: local('764RegularItalic'),
    url('./assets/fonts/PSBasic1200-764RegularItalic.otf') format('opentype');
}

/* Font Medium */
@font-face {
  font-family: '670Medium';
  font-style: normal;
  font-weight: 400;
  src: local('670Medium'), url('./assets/fonts/PSBasic1200-670Medium.otf') format('opentype');
}
@font-face {
  font-family: '770Medium';
  font-style: normal;
  font-weight: 400;
  src: local('770Medium'), url('./assets/fonts/PSBasic1200-770Medium.otf') format('opentype');
}

/* Font Medium Italic */
@font-face {
  font-family: '674MediumItalic';
  font-style: normal;
  font-weight: 400;
  src: local('674MediumItalic'),
    url('./assets/fonts/PSBasic1200-674MediumItalic.otf') format('opentype');
}
@font-face {
  font-family: '774MediumItalic';
  font-style: normal;
  font-weight: 400;
  src: local('774MediumItalic'),
    url('./assets/fonts/PSBasic1200-774MediumItalic.otf') format('opentype');
}

/* Font Semi Bold */
@font-face {
  font-family: '680Semi-Bold';
  font-style: normal;
  font-weight: 400;
  src: local('680Semi-Bold'), url('./assets/fonts/PSBasic1200-680Semi-Bold.otf') format('opentype');
}
@font-face {
  font-family: '780Semi-Bold';
  font-style: normal;
  font-weight: 400;
  src: local('780Semi-Bold'), url('./assets/fonts/PSBasic1200-780Semi-Bold.otf') format('opentype');
}

/* Font Semi Bold Italic */
@font-face {
  font-family: '684Semi-BoldItalic';
  font-style: normal;
  font-weight: 400;
  src: local('684Semi-BoldItalic'),
    url('./assets/fonts/PSBasic1200-684Semi-BoldItalic.otf') format('opentype');
}
@font-face {
  font-family: '784Semi-BoldItalic';
  font-style: normal;
  font-weight: 400;
  src: local('784Semi-BoldItalic'),
    url('./assets/fonts/PSBasic1200-784Semi-BoldItalic.otf') format('opentype');
}

/* Font Bold */
@font-face {
  font-family: '690Bold';
  font-weight: bold;
  src: local('690Bold'), url('./assets/fonts/PSBasic1200-690Bold.otf') format('opentype');
}
@font-face {
  font-family: '790Bold';
  font-weight: bold;
  src: local('790Bold'), url('./assets/fonts/PSBasic1200-790Bold.otf') format('opentype');
}

/* Font Bold Italic */
@font-face {
  font-family: '694BoldItalic';
  font-weight: bold;
  src: local('694BoldItalic'),
    url('./assets/fonts/PSBasic1200-694BoldItalic.otf') format('opentype');
}
@font-face {
  font-family: '794BoldItalic';
  font-weight: bold;
  src: local('794BoldItalic'),
    url('./assets/fonts/PSBasic1200-794BoldItalic.otf') format('opentype');
}

*,
::before,
::after {
  border-color: inherit;
}

html {
  font-family: '670Medium';
  font-weight: normal;
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

body {
  height: 100vh;
  width: 100vw;
  touch-action: none;
  -webkit-overflow-scrolling: none;
  overflow: hidden;
  overscroll-behavior: none;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  .static-text {
    font-family: '760Regular';
  }
  /* Input range native override */
  input[type='range'] {
    background: transparent;
    height: 25px;
    -webkit-appearance: none;
    margin: 0;
    width: 100%;
    min-width: 175px;
  }
  input[type='range']:focus {
    outline: none;
  }
  input[type='range']::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000;
    background: #000;
    border-radius: 1px;
    border: 0px solid #000;
  }

  input[type='range']::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000;
    border: 1px solid #000;
    height: 13px;
    width: 13px;
    border-radius: 25px;
    background: #e24523;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6px;
  }

  input[type='range']::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  /* Override input color when color changes */
  input[type='range'].red-black {
    &::-webkit-slider-runnable-track {
      background: #000;
    }
    &::-webkit-slider-thumb {
      border: 1px solid #000;
      background: #e24523;
    }
  }

  input[type='range'].white-black {
    &::-webkit-slider-runnable-track {
      background: #000;
    }
    &::-webkit-slider-thumb {
      border: 1px solid #000;
      background: #fff;
    }
  }
  input[type='range'].black-white {
    &::-webkit-slider-runnable-track {
      background: #fff;
    }
    &::-webkit-slider-thumb {
      border: 1px solid #fff;
      background: #000;
    }
  }

  input[type='range'].grey-black {
    &::-webkit-slider-runnable-track {
      background: #000;
    }
    &::-webkit-slider-thumb {
      border: 1px solid #000;
      background: #4b4e54;
    }
  }

  input[type='range'].red-white {
    &::-webkit-slider-runnable-track {
      background: #fff;
    }
    &::-webkit-slider-thumb {
      border: 1px solid #fff;
      background: #e24523;
    }
  }

  input[type='range'].white-red {
    &::-webkit-slider-runnable-track {
      background: #e24523;
    }
    &::-webkit-slider-thumb {
      border: 1px solid #e24523;
      background: #fff;
    }
  }

  input[type='range'].black-red {
    &::-webkit-slider-runnable-track {
      background: #e24523;
    }
    &::-webkit-slider-thumb {
      border: 1px solid #e24523;
      background: #000;
    }
  }
  input[type='range'].grey-white {
    &::-webkit-slider-runnable-track {
      background: #fff;
    }
    &::-webkit-slider-thumb {
      border: 1px solid #fff;
      background: #4b4e54;
    }
  }

  /* Input checkbox native override */
  input[type='checkbox'] {
    position: absolute;
    margin-top: 5px;
    opacity: 0;
    cursor: pointer;
  }

  input[type='checkbox'] + label:before {
    height: 12px;
    width: 12px;
    content: ' ';
    display: inline-block;
    vertical-align: baseline;
    border: 1px solid #000;
  }
  input[type='checkbox']:checked + label:before {
    background-color: #000;
  }
  input[type='checkbox'] + label:before {
    border-radius: 50%;
  }
  /* Input textarea native override */
  textarea {
    font-family: '760Regular';
    background: transparent;
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
    &.ligatures {
      font-feature-settings: 'ss01';
    }
  }
  /* Alternative toggle button colours */
  .toggle {
    border: 1px solid #000;
    &:after {
      background-color: #000;
    }
    &.red-black,
    &.white-black,
    &.grey-black {
      border: 1px solid #000;
      &:after {
        background-color: #000;
      }
    }
    &.black-white,
    &.red-white,
    &.grey-white {
      border: 1px solid #fff;
      &:after {
        background-color: #fff;
      }
    }
    &.white-red,
    &.black-red {
      border: 1px solid #e24523;
      &:after {
        background-color: #e24523;
      }
    }
  }
  /* Loop button colours */
  .loop {
    svg {
      path {
        fill: #000;
      }
      &.red-white,
      &.black-white,
      &.grey-white {
        path {
          fill: #fff;
        }
      }
      &.white-red,
      &.black-red {
        path {
          fill: #e24523;
        }
      }
    }
  }
  /* Details native override */
  details {
    summary {
      text-transform: capitalize;
      &:before {
        content: '';
        border-width: 0.3rem;
        border-style: solid;
        border-color: transparent transparent transparent #000;
        position: absolute;
        top: 0.5rem;
        right: -1rem;
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform-origin: 0.2rem 50%;
        -webkit-transform-origin: 0.2rem 50%;
        -moz-transform-origin: 0.2rem 50%;
        -ms-transform-origin: 0.2rem 50%;
        -o-transform-origin: 0.2rem 50%;
        transition: 0.25s transform ease;
        -webkit-transition: 0.25s -webkit-transform ease;
        -moz-transition: 0.25s transform ease;
        -o-transition: 0.25s transform ease;
      }
      &::marker,
      &::-webkit-details-marker {
        content: '';
        display: none;
      }
    }
  }
  /* Override triangle color when color changes */
  details.grey-black > summary,
  details.red-black > summary,
  details.white-black > summary {
    &:before {
      border-color: transparent transparent transparent #000;
    }
  }
  details.white-red > summary,
  details.black-red > summary {
    &:before {
      border-color: transparent transparent transparent #e24523;
    }
  }

  details.grey-white > summary,
  details.red-white > summary,
  details.black-white > summary {
    &:before {
      border-color: transparent transparent transparent #fff;
    }
  }

  details[open] {
    .font-content {
      background-color: #e24523;
      overflow-y: scroll;
      &.red-black,
      &.red-white {
        background-color: #e24523;
      }
      &.white-black,
      &.white-red {
        background-color: #fff;
      }
      &.black-white,
      &.black-red {
        background-color: #000;
      }
      &.grey-black,
      &.grey-white {
        background-color: #4b4e54;
      }
      &.black-white,
      &.grey-white,
      &.red-white {
        .active {
          border-bottom: 2px solid #fff;
        }
      }
      &.white-red,
      &.black-red {
        .active {
          border-bottom: 2px solid #e24523;
        }
      }
    }
    > summary:before {
      transform: rotate(270deg);
      -webkit-transform: rotate(270deg);
      -moz-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
      -o-transform: rotate(270deg);
    }
    .not-available {
      color: #cccccc;
      opacity: 0.8;
    }
  }

  /* Font active */
  .active {
    border-bottom: 2px solid #000;
  }

  /* Details animation */
  /* details[open] summary ~ * {
    animation: sweep 0.5s ease-in-out;
  } */

  @keyframes sweep {
    0% {
      opacity: 0;
      transform: translateX(-10px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  /* Override dropdown styles when color changes */
  details.red-black {
    .font-menu {
      background: #e24523;
      color: #000;
      input[type='checkbox'] + label:before {
        border: 1px solid #000;
      }
      input[type='checkbox']:checked + label:before {
        background-color: #000;
      }
      .col {
        ul > li > a.active {
          border-bottom: 2px solid #000;
        }
        &.not-available {
          color: #cccccc !important;
          opacity: 0.8;
        }
      }
    }
  }
  details.white-black {
    .font-menu {
      background: #fff;
      color: #000;
      input[type='checkbox'] + label:before {
        border: 1px solid #000;
      }
      input[type='checkbox']:checked + label:before {
        background-color: #000;
      }
      .col ul > li > a.active {
        border-bottom: 2px solid #000;
      }
    }
  }
  details.black-white {
    .font-menu {
      background: #000;
      color: #fff;
      input[type='checkbox'] + label:before {
        border: 1px solid #fff;
      }
      input[type='checkbox']:checked + label:before {
        background-color: #fff;
      }
      .active {
        border-bottom: 2px solid #fff;
      }
    }
  }
  details.grey-black {
    .font-menu {
      background: #4b4e54;
      color: #000;
      input[type='checkbox'] + label:before {
        border: 1px solid #000;
      }
      input[type='checkbox']:checked + label:before {
        background-color: #000;
      }
      .col ul > li > a.active {
        border-bottom: 2px solid #000;
      }
    }
  }

  details.red-white {
    .font-menu {
      background: #e24523;
      color: #fff;
      input[type='checkbox'] + label:before {
        border: 1px solid #fff;
      }
      input[type='checkbox']:checked + label:before {
        background-color: #fff;
      }
      .col {
        &.not-available {
          color: #cccccc !important;
          opacity: 0.8;
        }
      }
      .active {
        border-bottom: 2px solid #fff;
      }
    }
  }

  details.white-red {
    .font-menu {
      background: #fff;
      color: #e24523;
      input[type='checkbox'] + label:before {
        border: 1px solid #e24523;
      }
      input[type='checkbox']:checked + label:before {
        background-color: #e24523;
      }
      .col ul > li > a.active {
        border-bottom: 2px solid #e24523;
      }
    }
  }

  details.black-red {
    .font-menu {
      background: #000;
      color: #e24523;
      input[type='checkbox'] + label:before {
        border: 1px solid #e24523;
      }
      input[type='checkbox']:checked + label:before {
        background-color: #e24523;
      }
      .col ul > li > a.active {
        border-bottom: 2px solid #e24523;
      }
    }
  }

  details.grey-white {
    summary:before {
      border-color: transparent transparent transparent #fff;
    }
    .font-menu {
      background: #4b4e54;
      color: #fff;
      input[type='checkbox'] + label:before {
        border: 1px solid #fff;
      }
      input[type='checkbox']:checked + label:before {
        background-color: #fff;
      }
      .active {
        border-bottom: 2px solid #fff;
      }
    }
  }
  /* Font weight modifiers */
  .PSBasic1200-640Light {
    font-family: '640Light';
  }
  .PSBasic1200-740Light {
    font-family: '740Light';
  }
  .PSBasic1200-744LightItalic {
    font-family: '744LightItalic';
  }
  .PSBasic1200-644LightItalic {
    font-family: '644LightItalic';
  }
  .PSBasic1200-650Semi-Light {
    font-family: '650Semi-Light';
  }
  .PSBasic1200-750Semi-Light {
    font-family: '750Semi-Light';
  }
  .PSBasic1200-654Semi-LightItalic {
    font-family: '654Semi-LightItalic';
  }
  .PSBasic1200-754Semi-LightItalic {
    font-family: '754Semi-LightItalic';
  }
  .PSBasic1200-660Regular {
    font-family: '660Regular';
  }
  .PSBasic1200-760Regular {
    font-family: '760Regular';
  }
  .PSBasic1200-664RegularItalic {
    font-family: '664RegularItalic';
  }
  .PSBasic1200-764RegularItalic {
    font-family: '764RegularItalic';
  }
  .PSBasic1200-670Medium {
    font-family: '670Medium';
  }
  .PSBasic1200-770Medium {
    font-family: '770Medium';
  }
  .PSBasic1200-674MediumItalic {
    font-family: '674MediumItalic';
  }
  .PSBasic1200-774MediumItalic {
    font-family: '774MediumItalic';
  }
  .PSBasic1200-680Semi-Bold {
    font-family: '680Semi-Bold';
  }
  .PSBasic1200-780Semi-Bold {
    font-family: '780Semi-Bold';
  }
  .PSBasic1200-684Semi-BoldItalic {
    font-family: '684Semi-BoldItalic';
  }
  .PSBasic1200-784Semi-BoldItalic {
    font-family: '784Semi-BoldItalic';
  }
  .PSBasic1200-690Bold {
    font-family: '690Bold';
  }
  .PSBasic1200-790Bold {
    font-family: '790Bold';
  }
  .PSBasic1200-694BoldItalic {
    font-family: '694BoldItalic';
  }
  .PSBasic1200-794BoldItalic {
    font-family: '794BoldItalic';
  }
}
